/*
.book_title {
    display: none;
}
.image {
    cursor: pointer;
}

.image {
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
}

.image:hover {
  transform: rotateY(180deg);

}

.books .image {
    backface-visibility: hidden;
    overflow: hidden;
}

.book_title{
      display: block;
}
*/

/*

.book_container {
    perspective: 1000;
}

.books {
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}

.book_container:hover .books {
    transform: rotateY(180deg);
}

.face {
    backface-visibility: hidden; 
}

.face.title_info {
    display: block;
    transform: rotateY(180deg);
}*/

.book_container {
    perspective: 1000px;
    width: 29%;
}

.book_container:hover .book_list,
.book_container.hover .book_list {
    transform: rotateY(180deg);
}

.book_list {
    transition: 0.6s;
    transform-style: preserve-3d;
    
  
}

.front, .back {
    backface-visibility: hidden;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
    text-align: justify;
    padding: 20px;
    width: 320px;
    position: absolute;
}

.cover {
    width: 300px;
}

/*
.front {
    position: relative;
	display: block;
	cursor: pointer;
	overflow: hidden;
}

.front:hover .back {
    -webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-o-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}

.back {
    position: absolute;
	height: 100%;
	width: 100%;
            	top: -100%;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	-webkit-transition-delay: .5s;
	-moz-transition-delay: .5s;
	-o-transition-delay: .5s;
	-ms-transition-delay: .5s;
	transition-delay: .5s;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

.back h3 {
    position: relative;
	left: 100%;
    -webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
	-webkit-transition-delay: 1s;
	-moz-transition-delay: 1s;
	-o-transition-delay: 1s;
	-ms-transition-delay: 1s;
	transition-delay: 1s;
}
.back p {
    position: relative;
	left: 100%;
    -webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
	-webkit-transition-delay: 1.3s;
	-moz-transition-delay: 1.3s;
	-o-transition-delay: 1.3s;
	-ms-transition-delay: 1.3s;
	transition-delay: 1.3s;
}

.front:hover h3, .front:hover p {
    left: 0;
}
*/





.modal-dimension {
    width: 700px;
}

.modal-content {
    width: 642px;
}

.logo {
  
}
